.transformer-section {
  padding: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.transformer-card {
  background: white;
  border-radius: 14px;
  padding: 20px;
  border: 1px solid #e5e7eb;
}

.transformer-card img {
  width: 150px;
  display: block;
  margin: auto;
}

.transformer-card h3 {
  margin-top: 15px;
}

.sub {
  color: gray;
}

.specs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin: 15px 0;
}

.specs div {
  background: #f3f4f6;
  padding: 10px;
  border-radius: 10px;
}

.serial {
  border: 1px solid #e5e7eb;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.order-btn {
  width: 100%;
  padding: 14px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 15px;
}
